# neatlogs[azure-ai-inference, openai, langchain, google-genai]==1.2.6
# crewai
# google-genai>=1.0.0,<2.0.0
# python-dotenv>=1.0.0,<2.0.0


neatlogs>=1.2.6
crewai
neatlogs[azure-ai-inference, openai, langchain, google-genai]>=1.2.6
# azure-ai-inference>=1.0.0b9
google-genai>=1.0.0,<2.0.0
python-dotenv>=1.0.0,<2.0.0
